@using SeniorProjectMVC.Models
@model AccountModel
@{
	ViewData["Title"] = "User " + Model.OwnerName;
	if (Model.Data != null)
	{
		ViewBag.IsLoggedIn = "True";
		ViewBag.Username = Model.Data.UserName;
	}
}

<body>
	<div class="tac">
		<p class="H2">@Model.OwnerName's Page</p>
		<p>Their Uploaded Images:</p>
	</div>

	<div class="tac">
		@Html.Partial("_ImageViewPartial", new ImagePartialModel(
			Model.Images, Model.URL, Model.Page, Model.IsMobile))
	</div>
</body>